$themes: (
  dark: (
    color-primary: #10375c,
    color-secondary: #f4f6ff,
    color-highlight: #f3c623,
  ),
  light: (
    color-primary: #f4f6ff,
    color-secondary: #10375c,
    color-highlight: #eb8317,
  ),
  custom: (
    color-primary: #10375c,
    color-secondary: #f3c623,
    color-highlight: #f4f6ff,
  ),
);
