@use "sass:map";
@use "../themes.config" as t;

@mixin themes() {
  @each $theme-name, $theme-vars in t.$themes {
    &.#{$theme-name} {
      $color-primary: map.get($theme-vars, color-primary);
      $color-secondary: map.get($theme-vars, color-secondary);

      color: $color-secondary;
      background: $color-primary;
      border-color: $color-secondary;
    }
  }
}

footer {
  @include themes();
}
