@use "sass:map";
@use "../mixins" as m;
@use "../themes.config" as t;

@mixin themes() {
  @each $theme-name, $theme-vars in t.$themes {
    &.#{$theme-name} {
      $color-primary: map.get($theme-vars, color-primary);
      $color-secondary: map.get($theme-vars, color-secondary);

      background: $color-primary;

      > div {
        color: $color-secondary;
        background: $color-primary;

        > div {
          border-color: $color-secondary;

          > a {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

#header {
  @include themes();

  > div {
    @include m.customBorderRadius(false);
  }
}
