.form {
  &.loading {
    height: 300px;
    max-height: 300px;
  }

  overflow: hidden;
  max-height: 10000px;
  justify-content: center;
  transition: max-height 300ms ease-out;

  .form-loading-container {
    z-index: 1;
  }
}
