#impersonation-controls {
  @apply bottom-5;
  z-index: 50;
  position: fixed;
  border: 3px solid;
  left: calc(0.25rem * 25);

  ul {
    display: flex;
    max-height: 0px;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 300ms ease-out;

    > li {
      @apply p-2 gap-2;
      display: flex;
      cursor: pointer;
      flex-direction: row;
      align-items: center;

      a,
      p {
        @apply gap-2;
        width: 100%;
        display: flex;
        font-weight: bold;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  > div {
    @apply p-2 gap-2;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;

    p {
      font-weight: bold;
    }
  }

  &:hover {
    ul {
      max-height: 1000px;
    }
  }
}
